<carousel>
  <slide>
    <img src="assets/slidePic/img4.jpg" alt="first slide" style="margin-top: 10px;height: 530px; width: 1250px; margin-left: 40px">
  </slide>
  <slide>
    <img src="assets/slidePic/img2.jpg" alt="second slide" style="margin-top: 10px;height: 530px; width: 1250px; margin-left: 40px">
  </slide>
  <slide>
    <img src="assets/slidePic/img3.jpg" alt="third slide" style="margin-top: 10px;height: 530px; width: 1250px; margin-left: 40px">
  </slide>
  <slide>
    <img src="assets/slidePic/img1.jpg" alt="third slide" style="margin-top: 10px;height: 530px; width: 1250px; margin-left: 40px">
  </slide>
</carousel>




